@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Для работы с сострудниками и компаниями воспользуйтесь кнопками вверху страницы :)</p>
</div>
